# A default .editorconfig for Create Go App project.
# Author: Vic Shóstak <vic@shostak.dev> (https://shostak.dev)
# For more information, please visit https://create-go.app/

root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{go.mod,go.sum,*.go}]
indent_style = tab
indent_size = 4

[{Dockerfile,Makefile,*.yml,*.yaml}]
indent_style = tab
indent_size = 2
