# A default .gitattributes for Create Go App project.
# Author: Vic Shóstak <vic@shostak.dev> (https://shostak.dev)
# For more information, please visit https://create-go.app/

go.sum merge=union
*.go text eol=lf
