# A default .gitignore for Create Go App project.
# Author: Vic Shóstak <truewebartisans@gmail.com> (https://1wa.co)

# macOS
**/.DS_store

# Go builds
**/app/
**/build/

# Node.js dependencies
**/node_modules/
