# A default .gitattributes for Create Go App project.
# Author: Vic Shóstak <truewebartisans@gmail.com> (https://1wa.co)
# For more information, please visit https://create-go.app/

go.sum merge=union
